@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --color-primary: #c8a549;
  --color-secondary: #811812;
  --color-support: #186144;
}

.text-stroke {
  -webkit-text-stroke: 1px #fd6f00;
}
